.heading{
    margin-top: -130px;
    margin-bottom: -50px;
}

.step-heading{
    color: #aaf8f8;
    margin-left: 50px;
}

.step-text{
    width: 90%;
    color: white;
    font-size: 22px;
    line-height: 35px;
    margin-left: 50px;

}

/* Define keyframes for fade-in animation */
@keyframes fadeInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-50px); /* Move div up by 50px */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Fade in at original position */
    }
  }
  
  /* Apply animation to the div */
  #animatedDiv {
    opacity: 0; /* Start with hidden div */
    animation: fadeInFromTop 2.5s ease-out forwards; /* Animation duration and timing */
  }
  